---
import SplitContent from "@/components/blocks/SplitContent.astro"
import { TeamCarousel } from "@/components/sections/TeamCarousel.jsx"

const { heading, body, members, image, caption } = Astro.props
---

<SplitContent heading={heading} body={body} spacers={3} />
<section class="page fade--up" data-scroll>
    <TeamCarousel client:load members={members} image={image} caption={caption} />
</section>
