---
import Spacer from "@/components/blocks/Spacer.astro"
import { cleanHtml } from "@/lib/html"

const { heading, body, spacers = 1, measure = "", buttonText = "" } = Astro.props
---

<div class="page grid-2 gap-24 m-grid-1 m-gap-20">
    <h3 class="h3 fade--up" data-scroll>{heading}</h3>
    <div>
        <div class={`rich-text fade--up delay-1 balance ${measure}`.trim()} data-scroll set:html={cleanHtml(body)}></div>
        {buttonText && (
            <a href="#contact" data-contact-trigger class="overview-btn fade--up delay-2" data-scroll>{buttonText}<span class="arrow-box dark"><span class="icon-arrow-diagonal"></span></span></a>
        )}
    </div>
</div>
<Spacer count={spacers} />
