---
const { image, focalPoint, sizes } = Astro.props
const ri = image?.responsiveImage ?? image
const fp = focalPoint ?? image?.focalPoint
const position = fp ? `${fp.x * 100}% ${fp.y * 100}%` : "center"
---

{ri && <div class="bg-image-wrapper" style={`--blur:url(${ri.base64})`}><img class="bg-image-main" src={ri.src} srcset={ri.srcSet} sizes={sizes ?? ri.sizes} width={ri.width} height={ri.height} alt={ri.alt ?? ""} style={`object-position:${position}`} data-img /></div>}
